{erl_opts, [debug_info, 
            fail_on_warning, 
            warnings_as_errors]}.

%%
%% eunit configuration
%%

{cover_enabled            , true}.
{cover_print_enabled      , true}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.


%
% protobuffer compilation configuration
%

 {pre_hooks,
  [{compile, "mkdir -p include"}, %% ensure the include dir exists
   {compile,
  	"deps/gpb/bin/protoc-erl -I`pwd`/proto -pkgs -o-erl src -o-hrl include -modsuffix _pb -il "
  	"`pwd`/proto/*.proto"
   }]}.

% {post_hooks,
%  [{clean,
%    "bash -c 'for f in proto/*.proto; "
%    "do "
%    "  rm -f src/$(basename $f .proto).erl; "
%    "  rm -f include/$(basename $f .proto).hrl; "
%    "done'"}
%  ]}.

%%
%% dependancies
%%

{deps, [
    {gpb ,  ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "3.19.0"}} },
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
]}.