{erl_opts, [debug_info, 
            fail_on_warning, 
            warnings_as_errors]}.

{port_sources, ["c_src/*.cpp"]}.

{port_envs, [{"CXXFLAGS", "$CXXFLAGS -O2 -static -I/usr/local/include -I/usr/local/include/mesos -L/usr/local/lib"}]}.

{so_name, "erlang_mesos.so"}.

{deps, [
        {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", "HEAD"}}
       ]}.
